# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv
venv
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml

# Env
.env
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Runtime
*.log
